[submodule "shell/zsh/.oh-my-zsh"]
	path = shell/zsh/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git

[submodule "neovim-dotfiles"]
	path = nvim
	url = https://github.com/phamlehuy53/neovim-dotfiles.git
