[submodule "tpm"]
  path = plugins/tpm
  url = https://github.com/tmux-plugins/tpm
  ignore = dirty

[submodule "nord-tmux"]
	path = plugins/nord-tmux
	url = https://github.com/arcticicestudio/nord-tmux 

; Continuous saving of tmux environment. Automatic restore when tmux is started. Automatic tmux start when computer is turned on.
[submodule "tmux-continuum"]
	path = plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum

; Enhances tmux search.
[submodule "tmux-copycat"]
	path = plugins/tmux-copycat
	url = https://github.com/tmux-plugins/tmux-copycat

; Tmux plugin to monitor upload and download speed of one or all interfaces.
; [submodule "https://github.com/tmux-plugins/tmux-net-speed"]
; 	path = plugins/tmux-net-speed
; 	url =  https://github.com/tmux-plugins/tmux-net-speed

; Allow to print CPU usage, memory & swap, load average, net I/O metrics in Tmux status bar
[submodule "tmux-plugin-sysstat"]
	path = plugins/tmux-plugin-sysstat
	url = https://github.com/samoshkin/tmux-plugin-sysstat

[submodule "tmux-prefix-highlight"]
	path = plugins/tmux-prefix-highlight
	url = https://github.com/tmux-plugins/tmux-prefix-highlight

 ; Persists tmux environment across system restarts.
[submodule "tmux-resurrect"]
	path = plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect 

; A set of tmux options that should be acceptable to everyone.
[submodule "tmux-sensible"]
	path = plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible

[submodule "tmux-themepack"]
	path = plugins/tmux-themepack
	url = https://github.com/jimeh/tmux-themepack

[submodule "tmux-yank"]
	path = plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank

